@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  border: none;
  font-family: Poppins;
}

body {
  background-image: url("../img2/Group17.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #3b4d61;
  color: #f2f2f2;
}

a {
  font-size: 1rem;
  color: #fff;
}

nav {
  background-color: #1e344a;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

#link-selecionado a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2.5px;
  width: 100%;
  left: 0;
  background-color: #309df1;
  transform: scaleX(1);
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-right: 80px;
}

.link a {
  position: relative;
  padding-bottom: 0.75rem;
}

.link a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 2.5px;
  width: 100%;
  left: 0;
  background-color: #309df1;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
  transform: scalex(0);
}

.link a:hover::after {
  transform: scale(1);
}

p {
  text-align: center;
}
h1,
h2 {
  text-align: center;
}

h1 {
  margin: 32px;
}

#img {
  width: 140px;
  margin-left: 3rem;
  align-items: center;
}
.quadro1 {
  background-color: #2f6199;
  padding: 40px;
  margin-left: 50px;
  width: 90%;
  text-align: center;
  border-radius: 10px;
}
.passo1 {
  width: 800px;
  height: 400px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.quadro2 {
  border-radius: 10px;
  margin-top: 100px;
  background-color: #2f6199;
  padding: 40px;
  margin-left: 50px;
  width: 90%;
  text-align: center;
  margin-bottom: 10px;
}
.quadro2 h2 {
  margin-bottom: 30px;
}
.quadro2 img {
  width: 400px;
  height: 400px;
  margin-right: 40px;
  margin-bottom: 30px;
}
.drone1 {
  margin-right: 15px;
}
.drone2 {
  margin-right: 15px;
}
.foto3 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 100px;
  background-color: #2f6199;
  padding: 40px;
  margin-left: 50px;
  width: 90%;
  border-radius: 10px;
}

.foto3 img {
  border-radius: 10px;
  width: 800px;
  height: 400px;
}

.foto4 img {
  border-radius: 10px;
  width: 800px;
  height: 400px;
}

.foto4 {
  border-radius: 10px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 100px;
  background-color: #2f6199;
  padding: 40px;
  margin-left: 50px;
  width: 90%;
}

footer {
  display: flex;
  align-items: center;
  background-color: #bdbdbd;
  flex-direction: column;
}

footer p {
  font-size: 14px;
  margin: 12px 0 0 0;
}

footer img {
  width: 100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  border-radius: 10px;
}
.grupo1 {
  align-items: center;
  margin-right: 10px;
}
.grupopai {
  align-items: center;
}
